.CardItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Header {
  text-align: center;
}

.Info {
  margin-bottom: 10px;
}

.ItemFooter {
  text-align: center;
}

  