.cartwidget__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #007bff;
    cursor: pointer;
  }
  
  .cartwidget__logo__container {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  
  .cartwidget__logo__img {
    height: 100%;
  }
  