.navbar__container {
    background-color: #007bff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 2rem;
  }
  
  .navbar__button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-around;
  }
  
  .Opcion {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .ActiveOpcion {
    border-bottom: 2px solid #fff;
  }
  
  .navbar__button {
    margin: '0 100px 0 100px';
  }
  
  .logo {
    height: 100px;
    width: 100%;
  }
